@import url(https://fonts.googleapis.com/css?family=Poppins:300);

body {
  background-image: url('../img/fundo2.jpg');
  background-size: cover;
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario {
  backdrop-filter: blur(2px);
  position: relative;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 inset rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: auto;
  margin-top: 30vh;
}

.formulario input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 15px;
}
.formulario button {
  text-transform: uppercase;
  outline: 0;
  background: #3324be;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.formulario button:hover,
.formulario button:active,
.formulario button:focus {
  background: #23232e;
}
.formulario .mensagem {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.formulario .mensagem a {
  color: #3324be;
  text-decoration: none;
}
